<div style="margin-bottom: 22px;" class="row">
    <div class="col-6">
        <h3 style="color: rgb(120, 120, 120);margin-bottom: 4px;">
            Name:{{i["name"]}}
        </h3>
        <div>
            <b>Price:</b>
            {{i["price"]}}
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-info">PREVIEW</button>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary">BUY</button>
    </div>
</div>